/* お知らせ */
.news {
    text-align: left;
    margin: 20px 0;
}

.news h2 {
    font-size: 2.7rem;
    font-weight: normal;
    text-align: left;
}

.news p {
    font-size: 2rem;
    padding: 3%;
    background: #FAF8D5;
    border: 1px solid #8A8F8C;
    border-radius: 5px;
}