.teacher {
    display: inline-block;
    margin: 15px 0;
}

.teacher-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    background: #FAF8D5;
}

.teacher-name {
    white-space: nowrap;
}